
<header class="header">
    <div class="header-bar container" style="background-color:  rgba(0,0,0,0.1);">
        <a href="javascript:;" class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title"><a routerLink="/product" routerActiveLink="active">Products</a></h1>
            </div>
        </div>
        <div class="header-toolbar">
            <a href="javascript:;">
                <span class="icon-cart icon-medium"></span>
            </a>
            <div class="col-md-3"></div>
            <a href="javascript:;"> <h5>{{ login ? 'Login' : 'Logout' }}</h5> </a>
        </div>
    </div>
</header>

